@import "tailwindcss";

@theme {
    --color-A: var(--color-error);
    --color-B: var(--color-secondary);
    --color-C: var(--color-warning);
    --color-D: var(--color-success);
    --color-E: var(--color-info);
    --color-F: var(--color-primary);
}

@source inline("{border,bg,text}-{A,B,C,D,E,F}");

@plugin "daisyui" {
    themes: acid --default;
}

@layer base {
    html,
    body,
    #root,
    main {
        @apply w-full h-full;
    }
}
